.loading {
    margin: 30px;
    background-color: gray;
    width: 125px;
    height: 27px;
    border-radius: 15px;
    border: 1px dashed black;
    position: absolute;
    text-align: center;
  }
  
  .loader {
    position: relative;
    background-color: green;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 1px dashed black;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-name: load;
  }
  
  .loading-text {
    position:absolute;
    text-align: center;
    color: #fff;
    padding: 5%;
  }
  
  @keyframes load {
    0% {
      top: 0px;
      left: 0px;
    }
    50% {
      top: 0px;
      left: 100px;
    }
    100% {
      top: 0px;
      left: 0px;
    }
  }
  